
@model IEnumerable<Forum.Application.DTO.SectionDTO>


@{
    ViewData["Title"] = "Section";

    var pager = ViewBag.Pager;
    int pageNo = 0;

    if (ViewBag.Pagination != null)
    {
        pager = ViewBag.Pagination;
        pageNo = pager.CurrentPage;
    }
}


<style>
    body {
        margin-top: 20px;
        background: #f8f8f8
    }
</style>

<div class="container">
    <div class="row flex-lg-nowrap">

        <div class="col">

            <vc:summary />

            <div class="row flex-lg-nowrap">
                <div class="col mb-3">
                    <div class="e-panel card">
                        <div class="card-body">
                            <div class="card-title">
                                <h6 class="mr-2"><span>Sections Forum</span></h6>
                            </div>
                            <a class="btn btn-primary" asp-controller="Section" asp-action="Create">Create</a>
                            <a class="btn btn-warning" asp-controller="Admin" asp-action="Index">Back Admin Area</a>

                            <div class="e-table">
                                <div class="table-responsive table-lg mt-3">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="max-width">Name</th>
                                                <th class="max-width">Area</th>
                                                <th class="sortable">Creation Date</th>
                                                <th> Is Active?</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Any())
                                            {
                                                @foreach (var item in Model)
                                                {

                                                    <tr>
                                                        <td> @item.Name </td>
                                                        <td> @item.Area.Name </td>
                                                        <td class="text-nowrap align-middle"><span> @item.CreationDate?.ToString("dd/MM/yyyy") </span></td>
                                                        <td class="text-center align-middle">

                                                            <div class="form-group">
                                                                <input type="checkbox" @(item.IsActive ? "checked='checked'" : "") onchange="inativeSection(this)" value="@item.Id" id="active">
                                                            </div>
                                                        </td>
                                                        <td class="text-center align-middle">
                                                            <div class="btn-group align-top">
                                                                <a class="btn btn-sm btn-outline-secondary badge" asp-controller="Section" asp-action="Update" asp-route-id="@item.Id" type="button">Edit</a>
                                                                <button class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" id="deleteClicked" onclick="getSectionId(this)" value="@(item.Id)" data-target="#delete-section-modal"><i class="fa fa-trash"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }


                                        </tbody>
                                    </table>
                                </div>

                                <partial name="_Pagination" model="@pager" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit Section Modal -->
            <div class="modal fade" role="dialog" tabindex="-1" id="update-form-modal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update Name</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="py-1">
                                <form class="form-section-update" id="caralho">

                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input class="form-control" type="text" id="nameSection">
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-end">
                                            <input class="btn btn-primary" id="saveSection" onclick="updateSection()" type="submit" value="Save Changes" />
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- "Modal Delete Section -->
            <div class="modal" tabindex="-1" role="dialog" id="delete-section-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete Section</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>You sure that want to delete this section?.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" onclick="deleteSection()" class="btn btn-danger">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        var idSection;
        var nameSection;
        var active;

        function getSectionId(event) {
            debugger
            idSection = event.value;
        }

        function inativeSection(event) {

            debugger
            var result;

            if (!event.checked)
                result = confirm("Inative this section ?");
            else
                result = confirm("Active this section ?");

            if (result)
            {
                $.ajax({
                type: "PUT",
                    url: '@Url.Action("Inative", "Section")',
                    data: { id: event.value, active: event.checked },
                success: function () {
                    location.reload();
                },
                    error: function (xhr, status, error) {

                        alert('An error occured');
                 }
                });
            }

        }

        function updateSection() {

            debugger
            var nameSection = $('#nameSection').val();

            var model = {
                Id: idSection,
                Name: nameSection,
                IsActive: active,
                CreationDate: null
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("Update", "Section")',
                data: { id: idSection, name: nameSection },
                success: function () {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert('An error occured');
                }
            });
        }


        function deleteSection() {

            debugger

            $.ajax({
                type: "DELETE",
                url: '@Url.Action("Delete", "Section")',
                data: { id: idSection },
                success: function () {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert('An error occured');
                }
            });
        }

    </script>
}





