@model Forum.Application.DTO.Pager

<!--Pagination Section-->
<!-- asp-route-pg "pg" is the name param in controller-->
<div class="d-flex justify-content-center">
    <ul class="pagination mt-3 mb-0">


        <!--For First and Previous-->
        @if (Model.CurrentPage > 1)
        {

            <li class="page-item">
                <a class="page-link" asp-controller="Section" asp-action="Index" asp-route-pg="1">First</a>
            </li>

            <li class="page-item">
                <a class="page-link" asp-controller="Section" asp-action="Index" asp-route-pg="@(Model.CurrentPage - 1)">Previous</a>
            </li>

        }

        <!--Pagination Numbers-->
        @if (Model.TotalPage > 0)
        {
            @for (var pge = Model.StartPage; pge <= Model.EndPage; pge++)
            {
                <li class="page-item @(pge == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Section" asp-action="Index" asp-route-pg="@pge">@pge</a>
                </li>
            }
        }



        <!--For Next and Last-->
        @if (Model.CurrentPage < Model.TotalPage)
        {

            <li class="page-item">
                <a class="page-link" asp-controller="Section" asp-action="Index" asp-route-pg="@(Model.CurrentPage + 1)">Next</a>
            </li>

            <li class="page-item">
                <a class="page-link" asp-controller="Section" asp-action="Index" asp-route-pg="@Model.TotalPage">Last</a>
            </li>

        }

    </ul>
</div>